html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
div{
	display: block;
}
ul{
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
}

.mp-list-select{
	cursor: default;
	position: absolute;
	width: 186px;
	background-color: #fff;
	border: 1px solid #e1e1e1;
}

.mp-list-select ul{
	height: 332px

}
.mp-list-select ul{
	box-shadow: 1px 1px 5px #eaeaea;
    padding: 0 5px;
    max-height: 332px;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
}
.mp-list-select ul li{
	height: 12px;
	border-bottom: 1px solid #e1e1e1;
	padding: 10px 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	width: 100%
}
.mp-list-select ul li a{
	color: #505050;
	transition:color .4s ease;


}


